<>


	<title>Memory Game</title>
	<link rel="stylesheet" type="text/css" href="style.css" />


	<div className="container">
		<h1>Memory Game - Fruits Edition</h1>
		<div className="config-panel">
			<label htmlFor="difficulty">Difficulté :</label>
			<select id="difficulty">
				<option value="4">Facile (4 paires)</option>
				<option value="6" selected={true}>Moyen (6 paires)</option>
				<option value="8">Difficile (8 paires)</option>
			</select>

			<label htmlFor="lives">Nombre de vies :</label>
			<input type="number" id="lives" value="3" min="1" />

			<label htmlFor="memorize-time">Temps de mémorisation :</label>
			<input type="number" id="memorize-time" value="5" min="1" />

			<label htmlFor="game-time">Temps de jeu :</label>
			<input type="number" id="game-time" value="60" min="10" />

			<button id="start-btn">Commencer</button>
		</div>

		<div className="game-panel">
			<div className="cards" />
			<div id="timer" />
			<div id="message" />
			<button id="restart-btn">Rejouer</button>
		</div>
	</div>

	<script src="script.js" />

</>