.container {
	margin: 20px auto;
	width: 600px;
}

h1 {
	text-align: center;
}

.config-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.config-panel label {
	margin-right: 10px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.card {
	width: calc(25% - 10px);
	height: 100px;
	background-color: #eee;
	border: 1px solid #333;
	margin-bottom: 10px;
	cursor: pointer;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#timer {
	text-align: center;
	font-size: 2em;
	margin-bottom: 10px;
}

#message {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}

#restart-btn {
	display: none;
	margin: 0 auto;
}
